html[date-theme="light"] {
    
}

html[date-theme="dark"] {

}

.d-none {
    display: none !important;
}

.btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#startGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#GameChoix img {
    cursor: pointer;
    background-color: black;
}