html[date-theme="light"] {
    
}

html[date-theme="dark"] {

}

.d-none {
    display: none !important;
}

.btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#LandingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}